<nav class="nav">
  <ul class="admin_links", id="top">
    <li>
      <%= link_to "Dashboard", :root %>
    </li>
    <li>
      <%= link_to "Change permissions", :admin_update_user %>
    </li>
    <li>
      <%= link_to "All surveys", :survey_templates %>
    </li>
    <li>
      <%= link_to "New survey", :new_survey_template %>
    </li>
    <li>
      <%= link_to "Manage courses", :courses %>
    </li>
  </ul>
</nav>