<div class = "dashboard_title ">Change permissions for user</div>
<%= form_tag :admin_change_user, :class => 'permisson' do %>
    <div class = "dashboard">
      <%= label_tag('email', 'Email', :id=>'email') %>
      <%= text_field_tag 'email'%>
    </div>


    <div class = "dashboard" id="change">Change permission to</div>

    <div class = "dashboard" >
      <%= radio_button_tag 'status', 'student' %>
      <%= label_tag('student', 'Student', :class => 'option') %>

      <%= radio_button_tag 'status', 'TA' %>
      <%= label_tag('TA', 'TA', :class=>'option') %>

      <%= radio_button_tag 'status', 'professor' %>
      <%= label_tag('professor', 'Professor', :class =>'option') %>

      <%= radio_button_tag 'status', 'admin' %>
      <%= label_tag('admin', 'Admin', :class=>'option') %>
    </div>

    <div class = "dashboard"><%= submit_tag "Update", :class=>'submit' %></div>
<% end %>
