%div.course_display

  %div.course_display_title
    %h3= "Your Courses"
  - if current_user.is_professor? or current_user.is_admin? 
    = link_to "Add a course", new_course_path, id: "add_course"
  %ul.course_box
    - @courses.each do |course|
      %li

        = link_to course.name, edit_course_path(course), id: course.name
        = course.department
        = course.semester
        = course.year
        = link_to "Delete this course", "/courses/#{course.id}", method: :delete, id: "delete_course"

