
%div.course_display

  %div.course_display_title
    %h3= @title

  %div.create_edit_inner_padd
    = form_tag courses_path do |course|
      = label_tag :course_name, "Course Name"
      = text_field_tag :course_name, @course.name
      = select_tag :department, options_for_select(departments, @course.department)
      = select_tag :semester, options_for_select(semesters, @course.semester)
      = select_year(@course == nil ? Date.today : @course.year.to_i)
      = hidden_field_tag(:id, if @course then @course.id else "" end )
      <br>
      = label_tag :editor_email, "Editors (please enter in the format of: email1@berkeley.edu, email2@berkeley.edu, email3@berkeley.edu"
      <br>
      = text_area_tag :editor_email, @people
      <br>
      = submit_tag "Submit"