<table id= <%=survey_id%> class="admin_table">
  <thead>
    <th colspan = "8" id="all_surveys_text"><%= title %></th>
  </thead>
  <tbody>
      <% surveys.each do |template| %>
          <tr>
            <% if private_survey %>
              <td>
                <%= link_to template.title, edit_survey_template_path(template), :title=>template.survey_title.to_s %>
              </td>
            <% else %>
              <td id="survey_name">
                <%= template.survey_title.to_s %>
              </td>
            <% end %>
            <td>
                <%=template.course.name %>
            </td>
            <% if private_survey %>
              <td class="">
                  <span class="publish_button_container"
                  data-status-route="<%= if template then survey_template_status_path(template) else "" end %>"
                  data-update-status-route="<%= if template then update_survey_template_status_path(template) else "" end %>"></span>
              </td>
            <% end%>
            <td>
              <%= link_to image_tag("view.png", :width=>30, :height=>30, :title=>'View live survey'), survey_template_path(template), :target => "_blank"%>
            </td>
            <% if private_survey %>
              <td>
                <%= link_to image_tag("response.png", :width=>30, :height=>30, :title=>'See responses'), all_responses_path(template), :target => "_blank" %>
              </td>
              <td>
                <%= link_to image_tag("email.png", :width=>30, :height=>30, :title=>'Emails of participants'), all_participants_path(template), :target => "_blank" %>
              </td>
            <% end %>
            <td>
                <%= image_tag("clone.png", :width=>30, :height=>30, :title=>'Clone this survey', :class => "clone_button", :"data-template-id" => template.uuid.to_s ) %>
            </td>
            <% if private_survey %>
              <td>
                <%= link_to image_tag("delete.png", :width=>30, :height=>30, :title=>'Delete'), 
                  "/survey_templates/#{template.uuid}", method: :delete, :class=> "delete_survey_link"  %>
              </td>
            <% end %>
 
          </tr>
      <% end %>

      <td colspan ="8" class="apple_pagination"><%= will_paginate surveys, :param_name=> page_name %></td>
  </tbody>
</table>