<table id= "filter_form" class="admin_table">
  <thead>
    <th colspan = "8", id="all_surveys_text">Filter Options</th>
  </thead>
  <tbody>
      <tr>
        <td colspan="8" >
          <%= render partial: "search_form" %>
        </td>
  </tbody>
</table>
<%= render partial: "survey_table", :locals => {:id => "my_surveys", :name => "My Surveys", :surveys => @templates} %>
<%= render partial: "survey_table", :locals => {:id => "public_surveys", :name => "Public Surveys", :surveys => @public_templates} %>

<div id = "clone_dialog" data-template-id = "" style="display:none"> 
  <form>
    Which course would you like to clone this survey to?
    <select id="select_course_name">
      <%- @courses.each do |course| %>
        <option value="<%= course.name %>"><%= course.name %></option>
      <% end %>
    </select>
    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
  </form>
</div>
