<h1>SurveyOski Evaluation</h1>

<table id="forms">
  <thead>
    <th colspan = "6">All Surveys</th>
  </thead>
  <tbody>
      <tr>
        <td colspan="6" >
            Sort By:
            <button class = 'sort_tag' id = 'name'><div>Survey Name</div></button>
            <button class = 'sort_tag' id='course'><div>Course</div></button>
            <button class = 'sort_tag' id='date'><div>Release Date</div></button>
        </td>
      </tr>

      <% @templates.each do |template| %>
          <tr>
            <td>
              <%= link_to template.survey_title.to_s, edit_survey_template_path(template) %>
            </td>
            <td>
              <%= link_to "View live form", survey_template_path(template), :target => "_blank" %>
            </td>
            <td>
              <%= link_to 'All Responses', "/survey_templates/#{template.id}/all_responses" %>
            </td>
            <td>
              <%= link_to 'Emails of Participants', "/survey_templates/#{template.id}/participants" %>
            </td>
            <td>
              <%= link_to "Clone this survey", "/survey_templates/#{template.id}/clone", class: "clone_link" %>
            </td>
            <td>
              <%= link_to "Delete this survey", "/survey_templates/#{template.id}", method: :delete %>
            </td>

          </tr>
      <% end %>
  </tbody>
</table>
