<h1>SurveyOski Evaluation</h1>

<table id="forms">
  <thead>
    <th colspan = "6">All Surveys</th>
  </thead>
  <tbody>
      <tr>
        <td colspan="6" >
            Sort By:
            <button class = 'sort_tag' id = 'name'><div>Survey Name</div></button>
            <button class = 'sort_tag' id='course'><div>Course</div></button>
            <button class = 'sort_tag' id='date'><div>Release Date</div></button>
        </td>
      </tr>

      <% @templates.each do |template| %>
          <tr>
            <td>
              <%= link_to template.survey_title.to_s, edit_survey_template_path(template) %>
            </td>
            <td>
              <%= link_to "View live form", survey_template_path(template), :target => "_blank" %>
            </td>
            <td>
              <%= link_to 'All Responses', "/survey_templates/#{template.id}/all_responses" %>
            </td>
            <td>
              <%= link_to 'Emails of Participants', "/survey_templates/#{template.id}/participants" %>
            </td>
            <td>
              <button><div class = "clone_button" data-template-id = <%= template.id.to_s %> >Clone this survey</div></button>
            </td>
            <td>
              <%= link_to "Delete this survey", "/survey_templates/#{template.id}", method: :delete %>
            </td>

          </tr>
      <% end %>
  </tbody>
</table>

<div id = "clone_dialog" data-template-id = "" style="display:none"> 
  <form>
    Which course would you like to clone this survey to?
    <select id="select_course_name">
      <%- @courses.each do |course| %>
        <option value=<%= course.name %>><%= course.name %></option>
      <% end %>
    </select>
    <!-- Allow form submission with keyboard without duplicating the dialog button -->
    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
  </form>
</div>
