<!--<div class="page_title">SurveyOski Evaluation</div>-->

<table id="all_surveys">
  <thead>
    <th colspan = "6", id="all_surveys_text">All Surveys</th>
  </thead>
  <tbody>
      <tr>
        <td colspan="6" >
            Sort By:
            <button class = 'sort_tag' id = 'name'>
            <div><%= link_to "Survey Name", survey_templates_path(:sort => 'name'), :class=>"sort_text" %></div>
            </button>
            <button class = 'sort_tag' id='course'>
            <div><%= link_to "Course", survey_templates_path(:sort => 'course'),:class=>"sort_text" %></div>
            </button>
            <button class = 'sort_tag' id='date'>
            <div><%= link_to "Release Date", survey_templates_path(:sort => 'date'),:class=>"sort_text" %></div>
            </button>
        </td>
      </tr>

      <% @templates.each do |template| %>
          <tr>
            <td>
              <%= link_to template.survey_title.to_s, edit_survey_template_path(template),:id=>"survey_name" %>
            </td>
            <td>
              <%= link_to image_tag("view.png", :width=>30, :height=>30, :title=>'View live survey'), survey_template_path(template), :target => "_blank"%>
            </td>
            <td>
              <%= link_to image_tag("response.png", :width=>30, :height=>30, :title=>'See responses'), "/survey_templates/#{template.id}/all_responses" %>
            </td>
            <td>
              <%= link_to image_tag("email.png", :width=>30, :height=>30, :title=>'Emails of participants'), "/survey_templates/#{template.id}/participants" %>
            </td>
            <td>
              <%= link_to image_tag("clone.png", :width=>30, :height=>30, :title=>'Clone this survey'), "/survey_templates/#{template.id}/clone" %>
            </td>
            <td>
              <%= link_to image_tag("delete.png", :width=>30, :height=>30, :title=>'Delete'), "/survey_templates/#{template.id}", method: :delete %>
            </td>

          </tr>
      <% end %>
  </tbody>
</table>
