%h1 SurveyOski Evaluation

%table#forms
  %thead
    %tr
      %th= "Forms"
  %tbody
    - @templates.each do |template|
      %tr
        - if template.survey_title.to_s != ''
          %td= link_to template.survey_title.to_s, survey_template_path(template)
        - else
          %td= link_to "Survey " + template.id.to_s, survey_template_path(template)
        %td= link_to 'All Responses', "/survey_templates/#{template.id}/all_responses"
        %td= link_to 'Emails of Participants', "/survey_templates/#{template.id}/participants"
        %td= link_to "Clone this survey", "/survey_templates/#{template.id}/clone"