<!--<div class="page_title">SurveyOski Evaluation</div>-->

<table id="all_surveys" class="admin_table">
  <thead>
    <th colspan = "7", id="all_surveys_text">All Surveys</th>
  </thead>
  <tbody>
      <tr>
        <td colspan="7" >
            <div id = 'sort_by'>Sort by</div>
            <button class = 'sort_tag' id = 'name'>
            <div><%= link_to "Survey Name", survey_templates_path(:sort => 'name'), :class=>"sort_text" %></div>
            </button>
            <button class = 'sort_tag' id= 'course'>
            <div><%= link_to "Course", survey_templates_path(:sort => 'course'),:class=>"sort_text" %></div>
            </button>
            <button class = 'sort_tag' id= 'date'>
            <div><%= link_to "Release Date", survey_templates_path(:sort => 'date'),:class=>"sort_text" %></div>
            </button>
        </td>
      </tr>
      <% @templates.each do |template| %>
          <tr>
            <td>
              <%= link_to template.survey_title.to_s, edit_survey_template_path(template),:id=>"survey_name" %>
            </td>
            <td class="">
                <span class="publish_button_container"
                data-status-route="<%= if template then survey_template_status_path(template) else "" end %>"
                data-update-status-route="<%= if template then update_survey_template_status_path(template) else "" end %>"></span>
            </td>
            <td>
              <%= link_to image_tag("view.png", :width=>30, :height=>30, :title=>'View live survey'), survey_template_path(template), :target => "_blank"%>
            </td>
            <td>
              <%= link_to image_tag("response.png", :width=>30, :height=>30, :title=>'See responses'), all_responses_path(template.id) %>
            </td>
            <td>
              <%= link_to image_tag("email.png", :width=>30, :height=>30, :title=>'Emails of participants'), all_participants_path(template.id) %>
            </td>
            <td>
                <%= image_tag("clone.png", :width=>30, :height=>30, :title=>'Clone this survey', :class => "clone_button", :"data-template-id" => template.id.to_s ) %>
            </td>
            <td>
              <%= link_to image_tag("delete.png", :width=>30, :height=>30, :title=>'Delete'), "/survey_templates/#{template.id}", method: :delete %>
            </td>

          </tr>
      <% end %>

      <td colspan ="7" class="apple_pagination"><%= will_paginate @templates %></td>
  </tbody>

</table>

<div id = "clone_dialog" data-template-id = "" style="display:none"> 
  <form>
    Which course would you like to clone this survey to?
    <select id="select_course_name">
      <%- @courses.each do |course| %>
        <option value=<%= course.name %>><%= course.name %></option>
      <% end %>
    </select>
    <!-- Allow form submission with keyboard without duplicating the dialog button -->
    <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
  </form>
</div>
