
<div id= "All_surveys" class="admin_table">
<div class="all_surveys_display_title" id="all_surveys_text">
  <h3>All Surveys</h3>
  <%= render partial: "search_form" %></div>

<div class="sort_survey_box">
  <div id = 'sort_by'>Sort by</div>
  <button class = 'sort_tag' id = 'name'>
    <%= link_to "Survey Name", survey_templates_path(:sort => 'name'), :class=>"sort_text" %>
  </button>
  <button class = 'sort_tag' id= 'course'>
    <%= link_to "Course", survey_templates_path(:sort => 'course'),:class=>"sort_text" %>
  </button>
  <button class = 'sort_tag' id= 'date'>
    <%= link_to "Release Date", survey_templates_path(:sort => 'date'),:class=>"sort_text" %>
  </button>
</div>

    <%= render :partial => "survey_table", :locals => {:survey_id => "my_surveys", :surveys => @templates, :title => 'My Surveys', :private_survey => true, :sort => :sort, :page_name => 'page'}%>

    <%= render :partial => "survey_table", :locals => {:survey_id => "public_surveys", :surveys => @public_templates, :title=> "Public Surveys", :private_survey => false, :sort=>:sort, :page_name => 'public_page'}%>

</div>





<div id = "clone_dialog" data-template-id = "" style="display:none"> 
  <form>
    Which course would you like to clone this survey to?
    <select id="select_course_name">
      <%- @courses.each do |course| %>
        <option value="<%= course.name %>"><%= course.name %></option>
      <% end %>
    </select>
  </form>
</div>
