%h1 New Form

= form_tag survey_templates_path do

  = label :form_name, "Name"
  = text_field_tag :form_name, @survey.survey_title
  = hidden_field_tag(:id, @survey.id)
  - if @fields_json
    %script.loading_form_fields= raw("var _survey_fields= " + @fields_json + ";")



  %div.form_fields

  %hr
  = label :new_field_name, 'Field Name'
  = text_field_tag :new_field_name

  %br
  = label :new_field_type, 'Field Type'
  = select_tag :new_field_type, options_for_select(@field_types)
  %br
  %button.add_field_button Add Field
  %br

  %div
  %br
  = submit_tag 'Submit'
