
<%= form_tag survey_templates_path, {:id => :form_survey_template} do %>

    <div class="form_header">
        <h1>Form         
</h1>
    <%= label :course_id, "Course" %>
    <%=  select_tag(:course_id, options_from_collection_for_select(@courses, 'id', 'name')) %>

        <%= label :form_name, "Name" %><%= text_field_tag :form_name, if @survey then @survey.survey_title else "" end %>
      <span class="publish_button_container" 
        data-status-route="<%= if @survey then survey_template_status_path(@survey) else "" end %>"
        data-update-status-route="<%= if @survey then update_survey_template_status_path(@survey) else "" end %>"
        >

      </span>
    </div>


    <%= hidden_field_tag(:id, if @survey then @survey.id else "" end) %>
    <% if @fields_json %>
        <script class="loading_form_fields">
            <%= raw("var _survey_fields= " + @fields_json + ";") %>
        </script>
    <% end %>
    <div class="form_fields"></div>
    <div class="form_add_field_container">
    <%= label :new_field_name, 'Field Name' %>
    <%= text_field_tag :new_field_name %>
    <br/>
    <%= label :new_field_type, 'Field Type' %>
    <%= select_tag :new_field_type, options_for_select(@field_types) %>
    <br/>
    <button class="add_field_button" type="button">Add Field</button>
    <input name="commit" type="submit" value="Submit" style="float: right">
    </div>

<% end %>
