%h1 New Form

= form_tag survey_templates_path do

  = label :name, "Name"
  = text_field_tag :name


  - @fields.each do |field|
    %p{:border=>"1px solid black"}
      %span= field.question_title
      = render partial:  field.edit_partial, :field => field


  %hr
  = label :new_field_name, 'Field Name'
  = text_field_tag :new_field_name

  %br
  = label :new_field_type, 'Field Type'
  = text_field_tag :new_field_type
  %br
  = submit_tag 'Add Field'
  %br

  %div
  %br
  = submit_tag 'Submit'
