
<%= form_tag survey_templates_path, {:id => :form_survey_template} do %>

    <div id="form_header">
        <div><%= @title %></div>
    </div>

    <div id='survey_name'>
      <div>
        <%= label :form_name, "Survey name" %>
        <%= text_field_tag :form_name, if @survey then @survey.survey_title else "" end %>

      </div>
      <div>
      <p>
        <%= label :course_id, "Course" %>
        <br>
        <%=  select_tag(:course_id, options_from_collection_for_select(@courses, 'id', 'name')) %>
      </p>
      
       <p>
      <label>
        Survey Status
        <br>
        <span class="publish_button_container" 
        data-status-route="<%= if @survey then survey_template_status_path(@survey) else "" end %>"
        data-update-status-route="<%= if @survey then update_survey_template_status_path(@survey) else "" end %>"
        ></span>
      </label>
       </p>

      </div>

    </div>


    <%= hidden_field_tag(:id, if @survey then @survey.uuid else "" end) %>
    <% if @fields_json %>
        <script class="loading_form_fields">
            <%= raw("var _survey_fields= " + @fields_json + ";") %>
        </script>
    <% end %>
    <div class="form_fields"></div>
    <div class="form_add_field_container">
        <div>
          <%= label :new_field_name, 'Question Name' %>
          <%= text_field_tag :new_field_name%>
        </div>

        <div>
          <%= label :new_field_type, 'Question Type' %>
          <%= select_tag :new_field_type, options_for_select(@field_types) %>
        </div>

        <button class = 'add_field_button' id = 'add_question_button'>Add question</button>
        <div><%= submit_tag 'Save survey', :class=>'survey_submit', :id=>'new_survey_submit'%></div>
    </div>


<% end %>
