<!DOCTYPE html>
<html>
<head>
  <title>SurveyOski Dashboard</title>
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'dashboard' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
    <%= render 'layouts/header' %>
    <span>
      <%= flash[:notice] %>
    </span>
    <nav class="nav">
      <ul class="admin_links", id="top">
        <li>
          <%= link_to "Dashboard", :root %>
        </li>
        <li>
          <%= link_to "Change permissions", :admin_update_user %>
        </li>
        <li>
          <%= link_to "All surveys", :survey_templates %>
        </li>
        <li>
          <%= link_to "New survey", :new_survey_template %>
        </li>
      </ul>
    </nav>
    <div id="main">
      <%= yield %>
    </div>

</body>
</html>
