!!! 5
%html
  %head
    %title SurveyOski Dashboard
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'dashboard'
    = javascript_include_tag 'application'
    = csrf_meta_tags

  %body
    %span
      = flash[:notice]
    %nav.nav
      %ul.admin_links
        %li
          = link_to "Change permissions", 'admin/update_user'
        %li
          = link_to "All surveys", :survey_templates

    #main
      = yield

    %nav.nav
      %ul
        %li
          = link_to "Logout", "/logout"