<!DOCTYPE html>
<html>
<head>
  <title>SurveyOski Dashboard</title>
  <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,500" rel="stylesheet" type="text/css">
  <%= stylesheet_link_tag 'application' %>
  <%= stylesheet_link_tag 'dashboard' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<%= render 'dashboard/functions' %>

<div id = "background">
  <img src = "http://calibermag.org/wp-content/uploads/2012/03/UC-Berkeley-151.jpg">
</div>
<div id = "background-overlay"></div>
<div id="main">
  <%= yield %>
</div>
</body>
</html>
